@import "tailwindcss/components";

@layer components {
  .select-wrapper {
    position: relative;
  }

  .select-area {
    height: var(--base-input-height);
    border-radius: 12px;
    border: 1px solid var(--base-input-border-color);
    transition: all 0.2s;
    padding: 0 17px 0 17px;
    font-size: 14px;
    font-weight: var(--base-font-weigh);
    width: 100%;
    max-width: 450px;

    &::placeholder {
      color: transparent;
    }
    &:focus::placeholder {
      color: var(--base-placeholder-color);
    }

    &:focus {
      border: 1px solid var(--base-input-border-focus-color);
    }
    &:valid {
      border: 1px solid rgb(42, 197, 44);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .select-label {
    position: absolute;
    font-size: 12px;
    top: 10%;
    left: 17px;
    font-weight: var(--base-placeholder-font-weight);
    transition: all 0.3s;
    pointer-events: none;
  }

  .select-area:focus + .select-label {
    top: 5px;
    font-size: 12px;
  }

  .select-area:valid + .select-label {
    top: 5px;
    font-size: 12px;
  }
}
